* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0; 
}

h1 {
	text-align: center;
}

/*---------------Jumbotron Header---------------*/

.jumbotron {
	background: black;
}

@font-face {
	font-family: "Monoton-Regular";
	src: url("../fonts/Monoton-Regular.ttf");
}

#neonHeader {
	font-family: "Monoton-Regular";
	font-size: 125px;
	 color: #fff;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

#neonHeader:hover {
	color: #FF1177;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

neonHeader:hover {
  color: #ffffff;
}
/*glow for webkit*/

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}


/*----------------------------------*/